<% content_for :vue_js do %>
  <%= javascript_pack_tag 'admin_vue' %>
<% end %>
    
<flash-message class="flash-ah-ah"></flash-message>

<section class="section">
  <div class="columns is-gapless">
    
    
    <div class="column">
      <div style="padding: 20px;">
      <h3 class="title" v-if="selectedWorkspace" style="margin-bottom:10px;">

        <% if @current_user.is_admin? %>
        <div class="tabs is-toggle is-centered">
          <ul>
            <li><a href="/admin">Workspaces</a></li>
            <li><a href="/admin/people">People</a></li>
            <li class="is-active"><a style="border-color:#6d6e71!important; background-color:#6d6e71!important" href="/announcements">Announcement</a></li>
          </ul>
        </div>
        <div class="tabs is-toggle is-centered">
          <ul>
            <li><a class="button is-primary is-pulled-right" v-on:click="newAnnouncement = true">Create Announcement</a></li>
          </ul>
        </div>
        <% end %>
        
      </h3>
    <div class="table-container" style="height:50vh;overflow:auto">
      <table class="table is-hoverable is-fullwidth" style="width:100%">
      <thead>
        <tr>
          <th>Title</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>DownTime</th>
          <th>Scope</th>
        </tr>
      </thead>
      <tbody>
      <% @announcements.each do |msg| %>
        <tr>
          <td class="user-username"><%=msg.title%></td>
          <td class="user-username">
           <%=msg.start_date.strftime('%m-%d-%Y  %H:%M:%S')%>
          </td>
          <td class="user-username">
            <%=msg.end_date.strftime('%m-%d-%Y  %H:%M:%S')%>
          </td>
          <td><%=((msg.end_date-msg.start_date)/(3600)).round(0)%> Hours, <%=(((msg.end_date-msg.start_date)/60)%60).round(0)%> Minutes</td>
          <td class="user-username"><%=msg.scope%></td>
          <td class="user-username"><b><%= link_to "Preview", announcement_path(msg)%></b></td>
          <td class="user-username"><b><%= link_to "Edit", edit_announcement_path(msg)%></b></td>
          <td class="user-username"><b><%= link_to "Delete", announcement_path(msg),
          method: :delete,
          data: { confirm: "Are you sure?" } %></b></td>
        </tr>
      <%end%>
      </tbody>
</table>

      
    </div>
    </div>
  </div>
</section>

<%= render '/announcements/new'%>