<% content_for :vue_js do %>
  <%= javascript_pack_tag 'admin_vue' %>
<% end %>
    
<flash-message class="flash-ah-ah"></flash-message>

<section class="section">
  <div class="columns is-gapless">
    
    
    <div class="column">
      <div style="padding: 20px;">
      <h3 class="title" v-if="selectedWorkspace" style="margin-bottom:10px;">

        <% if @current_user.is_admin? %>
        <div class="tabs is-toggle is-centered">
          <ul>
            <li><a href="/admin">Workspaces</a></li>
            <li><a href="/admin/people">People</a></li>
            <li class="is-active"><a style="border-color:#6d6e71!important; background-color:#6d6e71!important" href="/announcements">Announcement</a></li>
          </ul>
        </div>
        <% end %>
        <a
          class="button is-primary is-pulled-right"
          v-on:click="backToAnnouncement()"
        >Announcement Lists</a>
      </h3>
    
      <table class="table is-hoverable is-fullwidth" style="width:100%" v-if="selectedWorkspace">
   <tr>
      <td class="user-username">Details :</td>
      <td class="user-username"><%=@announcements.title%></td>  
   </tr>
   <tr>
      <td class="user-username">Start Date :</td>
      <td class="user-username"><%=@announcements.start_date.strftime('%d-%m-%Y')%></td>
   </tr>
   <tr>
      <td class="user-username">End Date</td>
      <td class="user-username"><%=@announcements.end_date.strftime('%d-%m-%Y')%></td>
   </tr> 
</table>

      
    </div>
    </div>
  </div>
</section>

<%= render '/announcements/new'%>