<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$("#ushowAnnouncementModal").modal('show');
	});
</script>
<% content_for :vue_js do %>
  <%= javascript_pack_tag 'admin_vue' %>
<% end %>
    
<flash-message class="flash-ah-ah"></flash-message>

<section class="section">
  <div class="columns is-gapless">
    
    
    <div class="column">
      <div style="padding: 20px;">
      <h3 class="title" v-if="selectedWorkspace" style="margin-bottom:10px;">
       
      </h3>
    <section class="section">
<div id="showAnnouncementModal">
<div class="modal-background"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Preview Announcement</p>
    <button type="button" class="delete" data-dismiss="modal" v-on:click="backToAnnouncement()" style="float: right;">&times;</button>
  </header>
  <div class="table-container" style="height:50vh;overflow:auto">
      <table class="table is-hoverable is-fullwidth" style="width:100%" v-if="selectedWorkspace">
   <tr>
      <td class="user-username"><b>Details :<b></td>
      <td class="user-username"><%=@announcements.title%></td>  
   </tr>
   <tr>
      <td class="user-username"><b>Start Date :</b></td>
      <td class="user-username"><%=@announcements.start_date.strftime('%m-%d-%Y  %H:%M:%S')%></td>
   </tr>
   <tr>
      <td class="user-username"><b>End Date :</b></td>
      <td class="user-username"><%=@announcements.end_date.strftime('%m-%d-%Y  %H:%M:%S')%></td>
   </tr> 
   <tr>
      <td class="user-username"><b>Scope :</b></td>
      <td class="user-username"><%=@announcements.scope%></td>
   </tr> 
</table>
</div>
</div>
</div>
</section>