<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lexmark Reporting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag '/assets/lodash.js', nonce: true %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag '/assets/powerbi.js', nonce: true %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield :vue_js %>
    
  </head>

  <body>
    <div id="reports">

        <nav class="navbar has-shadow">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                <img src="/images/logo_rgb_reversed.svg" width="200px">
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <div>Reporting</div>
                    </div>
                </div>

                <div class="navbar-end">
                </div>
            </div>
        </nav>


        <div id="login-container">
            <div id="maintenance">
                <h1>Scheduled Maintenance!</h1>
                <div style="padding:100px;text-align: center;font-size: 20px">                 
                        <div style="margin-bottom: 20px;text-align: center;">
                            <% for x in Announcement.all %>
                                <% if x.scope == "Global" %>
                                    <% announcement = x %>
                                <%end%>
                            <%end%>

                            <!--Modal Confirmation for deletion-->
                            <div id="exampleModal<%= announcement.id %>" v-bind:class="{modal: true}">
                            <div class="modal-background"></div>
                            <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Delete Announcement</p>
                                <button class="delete" aria-label="close" data-dismiss="modal"></button>
                            </header>
                            <section class="modal-card-body">
                            <div class="field">
                                <label class="label">Are you sure want to delete this announcement?</label>
                                </div>  
                            <footer class="modal-card-foot">
                                    <b><%= link_to 'Yes', announcement_path(announcement), method: :delete, :class => 'button is-danger is-pulled-left' %><b>
                                    <b><%= link_to 'No', announcements_path(), :class => 'button is-primary is-pulled-right' %><b>
                            </footer>
                            </div>
                            </div>
                            <!------------------>
                            <%if announcement.present?%>
                            <p><b>We&rsquo;ll be back soon!</b></p>
                            <br>
                            <p>This site is undergoing scheduled maintenance for "<b><%=announcement.title%></b>" untill "<b><%=announcement.end_date.strftime('%m-%d-%Y  %H:%M:%S')%></b>". </p>
                            <br>Please contact <b>"gatteamtest@lexmark.com"</b> for any questions.<br><br>
                            <%end%>
                        </div>
                        <% if @current_user.is_admin? %>  
                        <%= button_to "Remove Maintenance", announcement,class:"adm",method: :delete,data: { confirm: "Are you sure?" } %>
                        <a class="button is-primary is-pulled-center" data-toggle="modal" data-target="#exampleModal<%= announcement.id %>">Remove Maintenance</a>
                        <% end %>                                         
                </div>
            </div>
        </div>
        
        <footer class="footer">
            <div class="content has-text-centered">
            <p>
                &#169; 2021 Lexmark. All rights reserved.
            </p>
            </div>
        </footer>
    </div>


  </body>
</html>